<div id="login_box" class="login_form">
<h2>Login <%= link_to '(Register)', signup_url %></h2>
<% form_tag session_path do -%>
<label for="login">Login</label>
<%= text_field_tag 'login' %><br/>

<label for="password">Password</label>
<%= password_field_tag 'password' %><br/>

<label for="remember_me">Remember me: <%= check_box_tag 'remember_me' %></label>
<p><%= submit_tag 'Log in' %></p>
<% end -%>
</div>

