<h1>Editing deck_card</h1>

<% form_for(@deck_card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :card_id %><br />
    <%= f.text_field :card_id %>
  </p>
  <p>
    <%= f.label :deck_id %><br />
    <%= f.text_field :deck_id %>
  </p>
  <p>
    <%= f.submit "Update" %> or <%= link_to 'Cancel', deck_cards_path %>
  </p>
<% end %>

