<h1>Listing deck_cards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
  </tr>

<% for deck_card in @deck_cards %>
  <tr>
    <td><%=h deck_card.name %></td>
    <td><%=h deck_card.user_id %></td>
    <td><%= link_to 'Show', deck_card %></td>
    <td><%= link_to 'Edit', edit_deck_card_path(deck_card) %></td>
    <td><%= link_to 'Destroy', deck_card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deck_card', new_deck_card_path %>
