<h1>New deck_card</h1>

<% form_for(@deck_card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :deck_id %><br />
    <%= f.text_field :deck_id %>
  </p>
  <p>
    <%= f.label :card_id %><br />
    <%= f.text_field :card_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', deck_cards_path %>
