<h1>Editing clan</h1>

<% form_for(@clan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @clan %> |
<%= link_to 'Back', clans_path %>
