<h1>Listing clans</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for clan in @clans %>
  <tr>
    <td><%=h clan.name %></td>
    <td><%= link_to 'Show', clan %></td>
    <td><%= link_to 'Edit', edit_clan_path(clan) %></td>
    <td><%= link_to 'Destroy', clan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New clan', new_clan_path %>
