<h1>New clan</h1>

<% form_for(@clan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %> or <%= link_to 'Cancel', clans_path %>
  </p>
<% end %>
