<div id="main">
	<div class="block" id="block-tables">
	  <div class="secondary-navigation">
	    <ul>
	      <li class="first"><%= link_to 'Users', users_url %></li>
	      <li><%= link_to 'Card Types', card_types_url %></li>
	      <li><%= link_to 'Clans', clans_url %></li>
	      <li><%= link_to 'Decks', decks_url %></li>
	    </ul>
	    <div class="clear"></div>
	  </div>
		<div class="content">
		<% if admin? -%>
		<ul class="list">
			<li><div class="item"><p><%= link_to "Users", users_url, :class => "icon user" %><br />
				Manage users</p></div></li>
			<li><div class="item"><p><%= link_to "Card Types", card_types_url, :class => "icon cardtype" %><br />
				Manage card types</p></div></li>
			<li><div class="item"><p><%= link_to "Clans", clans_url, :class => "icon clans" %><br />
				Manage clans</p></div></li>
			<li><div class="item"><p><%= link_to "Decks", decks_url, :class => "icon decks" %><br />
				Manage decks</p></div></li>
		</ul>
		<% else -%>
			<h2 class="title">Sorry, you must be an admin to access this page!</h2>
		<% end -%>
		</div>
	</div>
</div>