<div id="card">
<%= image_tag @card.photo.url(:medium) %>

<% form_for(@card, :html => { :multipart => true }) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => { :f => f } %>	
  <%= f.submit "Update" %>
<% end %>
</div>
<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
