<h2 class="title">Edit Card</h2>

<% form_for(@card, :html => { :multipart => true, :class => "form" }) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => { :f => f } %>	
  <div class="clear"></div>
	<p><%= image_tag @card.photo.url(:medium) %></p>
  <%= f.submit "Update", :class => "button" %> or <%= link_to 'Cancel', cards_path %>
<% end %>


