<h1>Editing card</h1>

<% form_for(@card, :html => { :multipart => true }) do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => { :f => f } %>	
  <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
