<div id="cards">
<ul>
<% for card in @cards %>
		<li class="card">
			<%= link_to image_tag(card.photo.url(:avatar)), card %>
			<%= link_to card.name, card %>
			Created by <%= link_to card.user.login, card.user %>
			<%=card.created_at.strftime(" on %m/%d/%Y") %><br />
			<% if admin? %>
				<%= link_to 'Edit', edit_card_path(card) %> | 
				<%= link_to 'Delete', card, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</li>
<% end %>
</ul>
</div>
<br />
<% if logged_in? %>
	<%= link_to 'New card', new_card_path %>
<% else %>
	Please <%= link_to 'login', login_url %> to create new cards
<% end %>
