<div id="main">
	<div class="block">
				<script type="text/javascript" language="javascript">
				function hideShow(id){
					if(document.getElementById(id) != null){
						if(document.getElementById(id).style.display == ''){
							document.getElementById(id).style.display = 'none';
						}else{
							document.getElementById(id).style.display = '';
						 }
					}
				}
			</script>
	<h3>Listing Cards</h3>
		<div class="content">
		<ul class="list">
			<%for clan in Clan.find(:all)%>
				<li>
					<h10><strong><a onclick="hideShow('<%= clan.id %>');" style="cursor: pointer; color: #006699"><%= clan.name %></a></strong></h10>
					<div id='<%= clan.id %>' style="display: none">
					<% for card in @cards %>
						<% if ( card.clan_id == clan.id) %>
								<div class="left">&nbsp;&nbsp;
								<%= link_to image_tag(card.photo.url(:avatar)), card %>&nbsp;&nbsp;
								</div>
								<div class="item">
								<p><%= link_to card.name, card %>
								Created by <%= h card.user.login%>
								<%=card.created_at.strftime(" on %m/%d/%Y") %><br/>
								<span class="gray small"><%= h card.desc %></span></p>
								<p>
								<% if admin? %>
									<%= link_to 'Edit', edit_card_path(card), :class => "icon edit" %> | 
									<%= link_to 'Delete', card, :confirm => 'Are you sure?', :method => :delete, :class => "icon delete" %>
								<% end %></p>
								</div>
						<% end %>
					<% end %>
					</div>
				</li>
			<% end %>
		</div>
	</div>
</div>
<div id="sidebar">
	<div class="block">
    <h3>Manage Cards</h3>
    <div class="content">
      <p><% if logged_in? %>
				<%= link_to 'Add new card', new_card_path, :class => "icon add" %>
			<% else %>
				Please <%= link_to 'login', login_url %> to create new cards
			<% end %></p>
    </div>
  </div>
</div>
