<div id="card">
<%= image_tag @card.photo.url(:medium) %>
<h3><%=h @card.name %></h3>
<span class="info">
Created by 
<%= link_to @user.login, @user %>. Card type is <%= link_to @card_type.name, @card_type %> in Clan <%= link_to @clan.name, @clan %></span>
<span class="desc"><%=h @card.desc %></span>
</div>

<div style="clear:both;"></div>
<div class="card_details">
	<h3>Details</h3>
	<div id="box">
		  <b>Ability:</b> <%=h @card.ability %> <br />
		  <b>Force:</b> <%=h @card.force %><br />
		  <b>Chi:</b> <%=h @card.chi %><br />
		  <b>Honor requirement:</b> <%=h @card.honor_requirement %><br />
		  <b>Gold cost:</b> <%=h @card.gold_cost %><br />
		  <b>Prov str:</b> <%=h @card.prov_str %><br />
		  <b>Gold prod:</b> <%=h @card.gold_prod %><br />
		  <b>Start honor:</b> <%=h @card.start_honor %><br />
		  <b>Personal honor:</b> <%=h @card.personal_honor %><br />
		  <b>Focus:</b> <%=h @card.focus %><br />
		</p>
	</div>
</div>
<% if authorized? or (@card.user_id == current_user.id)%>
	<%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>

<%= link_to 'Back', cards_path %>
