<div class="card">
<%= image_tag @card.photo.url(:medium) %>
<h3><%=h @card.name %></h3>
<span class="info">
Created by 
<%= link_to @user.login, @user %>. Card type is <%= link_to @card_type.name, @card_type %> in Clan <%= link_to @clan.name, @clan %></span>
<span class="desc"><%=h @card.desc %></span>
</div>

<div style="clear: both;">
<div class="card_details">
<p>
  <b>Ability:</b>
  <%=h @card.ability %>
</p>

<p>
  <b>Force:</b>
  <%=h @card.force %>
</p>

<p>
  <b>Chi:</b>
  <%=h @card.chi %>
</p>

<p>
  <b>Honor requirement:</b>
  <%=h @card.honor_requirement %>
</p>

<p>
  <b>Gold cost:</b>
  <%=h @card.gold_cost %>
</p>

<p>
  <b>Prov str:</b>
  <%=h @card.prov_str %>
</p>

<p>
  <b>Gold prod:</b>
  <%=h @card.gold_prod %>
</p>

<p>
  <b>Start honor:</b>
  <%=h @card.start_honor %>
</p>

<p>
  <b>Personal honor:</b>
  <%=h @card.personal_honor %>
</p>

<p>
  <b>Focus:</b>
  <%=h @card.focus %>
</p>

</div>
<% if authorized? or (@card.user_id == current_user.id)%>
	<%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>

<%= link_to 'Back', cards_path %>
