<h1>Editing deck</h1>

<% form_for(@deck) do |f| %>
  <%= f.error_messages %>
<div id="box">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</div>
    <%= f.submit "Update" %> or <%= link_to 'Cancel', decks_path %>
<% end %>


