<%= link_to 'Create new deck', new_deck_path %>

<% if @decks.size > 0 -%>
<div id="cards">
	<ul>
	<% for deck in @decks %>
			<li class="card">
				<% if deck.cards.size > 0 %>
					<%= link_to image_tag(deck.cards[0].photo.url(:avatar)), deck %>
				<% else %>
					<%= link_to image_tag("question.jpg"), deck %>
				<% end %>
				<%= link_to deck.name, deck %>
				<%=deck.created_at.strftime("Created %m/%d/%Y") %>
				<%=deck.updated_at.strftime(", last update  %m/%d/%Y") %><br />
				Cards <%= h deck.cards.size %>
				<% if admin? %>
					<%= link_to 'Edit', edit_deck_path(deck) %> | 
					<%= link_to 'Delete', deck, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</li>
	<% end %>
	</ul>
</div>
<% else -%>
	You do not have any decks.
<% end -%>

