<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>L5R Card Manager</title>
    <%= stylesheet_link_tag('l5r', 'application', :media => "all")  %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
  <div id="wrapper">
    <div id="header">
    </div>
    <div id="content">      
      <%= "<div class=\"notice\">#{flash[:notice]}</div>" if flash[:notice] %>
			<%= "<div class=\"error\">#{flash[:error]}</div>" if flash[:error] %>
      <%= yield %>
    </div>
    <div id="footer">

    </div>
  </div>
  </body>
</html>